<h1>Todos os produtos</h1>
<div class="products">
  {{#each products}}
    <div class="product">
      <img src="{{this.imagem}}" alt="{{this.nome}}">
      <h3>{{this.nome}}</h3>
      <p>Preço: R${{this.preco}}</p>
      <p>Descrição: {{this.descricao}}</p>
      <div class="actions">
        <a href="/products/{{this._id}}">Detalhes</a>
        <a href="/products/edit/{{this._id}}">Editar</a>
      </div>
    </div>
  {{/each}}
</div>